.nav-bar{
    background-color:cornflowerblue;
    height: 100px;
}
div ul li a{
    color: white;
}
.left{
  
    float: left;
    height: 300px;
    width: 282px;
    margin-left: -428px;
}
.right{
   
    float: right;
    height: 300px;
    width: 600px;
    margin-right: 50px;
}
.image-box{
    border: 2px solid black;
    height: 250px;
}
div ul li a:hover{
    border-top: 2px solid rgb(62, 5, 126);

}